@model OAS.Model.Bank.tbl_bank
@{
    Layout = null;
}

@if (Model != null)
{
    <table class="ui-table-border" style="width:100%; height:100%;">
        <tr>
            <td style="height:50%">
                <div>@Model.id @Model.title</div>
                <div>@Model.options</div>
                <div>@Model.options</div>
            </td>
            <td style="width:250px; background-color:#00ffff;"></td>
        </tr>
        <tr>
            <td style="height:50%"></td>
            <td></td>
        </tr>
    </table>
}
else
{
    <div>题目不存在</div>
}