@model OAS.Model.Permission.sysuser
@{
    Layout = null;
}

@using (Ajax.BeginForm("Password",
    new { },
    new AjaxOptions()
    {
        OnBegin = "showLayoutForPwd",
        OnComplete = "hideLayoutForPwd",
        OnSuccess = "showUpdatePassword"
    },
        new { id = "passwordform" }))
{
    <table class="ui-table">
        <tr>
            <td class="label">用户编号：</td>
            <td class="value">
                <input type="text" name="userno" class="easyui-textbo" @(Model == null ? "" : "readonly") value="@(Model == null ? "" : Model.userno)" />
            </td>
        </tr>
        <tr>
            <td class="label">新设密码：</td>
            <td class="value">
                <input type="text" name="repeatpassword" id="repeatpassword" class="easyui-textbo" value="" />
            </td>
        </tr>
        <tr>
            <td class="label">重复密码：</td>
            <td class="value">
                <input type="text" name="newpassword" id="newpassword" class="easyui-textbo" value="" />
            </td>
        </tr>
    </table>
}